<div class="handyman-container">
  <div class="dashboard">
    <nav class="dashboard-menu">
      <ul>
        <a><li><button class="full-width-button" [routerLink]="['/handyman-profile/profile']">Profile</button></li></a>
        <a><li><button class="full-width-button" [routerLink]="['/handyman-profile/requests']">My Requests</button></li></a>
        <a><li><button class="full-width-button" [routerLink]="['/handyman-profile/history']">History</button></li></a>
        <a><li><button class="full-width-button" [routerLink]="['/handyman-profile/review']">My reviews</button></li></a>
        <a><li><button class="full-width-button" [routerLink]="['/handyman-profile/settings']">Settings</button></li></a>
        <li><button class = "full-width-button"><a href="http://localhost:4200">Logout</a></button></li>
      </ul>
    </nav>
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




