<div class="service-selector">
  <label for="serviceSelect">Select a service:  </label>
  <select id="serviceSelect" [(ngModel)]="selectedService">
    <option *ngFor="let service of services" [value]="service">{{ service }}</option>
  </select>
  <!--button (click)="fetchHandymen()">Find Handymen</button-->
  <button (click)="fetchHandymenMocked()">Find Handymen</button>
</div>

<div class="card-container">
<div *ngFor="let handyman of handymen" class="card">
  <img [src]="handyman.imageURL" alt="Handyman image">
  <h4>{{ handyman.name }}</h4>
  <p>Email: {{ handyman.email }}</p>
  <p>Phone: {{ handyman.phoneNumber }}</p>
  <button class="booking-button" (click)="showConfirmation(handyman)">Make Booking</button>
  <div *ngIf="handyman.showBookingConfirmation" class="confirmation-message">
    Booking confirmed for {{ handyman.name }}!
    <a routerLink="/reservations">View Reservations</a>
</div>
</div>
