<div class="requests-container">
  <h2>My Requests</h2>
  <div class="request-list">
    <div *ngFor="let request of requests" class="request-item">
      <div class="request-details">
        <p>Tip lucrare: {{ request.service.expertise }}</p>
        <p>Status: {{ request.status }}</p>
        <p>Descrierea lucrarii: {{ request.description }}</p>
        <p>Data: {{ request.bookingTime }}</p>
        <p>Utilizatorul interesat: {{ request.user.name }}</p>
      </div>
      <div class="request-actions">
        <button (click)="confirmRequest(request)" class="accept-button">Accept</button>
        <button (click)="declineRequest(request)" class="decline-button">Decline</button>
      </div>
    </div>
  </div>
</div>
