<div class="requests-container">
  <h2>My Requests</h2>
  <div class="request-list">
    <div *ngFor="let request of requests" class="request-item">
      <div class="request-details">
        <p>{{ request.description }}</p>
        <p>{{ request.status }}</p>
        <p>{{ request.servicetype }}</p>
        <p>{{ request.date }}</p>
        <p>{{ request.user }}</p>
        <p>{{ request.time }}</p>
      </div>
      <div class="request-actions">
        <button (click)="acceptRequest(request)" class="accept-button">Accept</button>
        <button (click)="declineRequest(request)" class="decline-button">Decline</button>
      </div>
    </div>
  </div>
</div>
