<div class="client-container">
  <div class="dashboard">
    <nav class="dashboard-menu">
      <ul>
        <li> <button class="full-width-button" [routerLink]="'/client-info/booking'">Make a Booking</button></li>
        <li><button class="full-width-button" [routerLink]="'/client-info/profile'">Profile</button></li>
        <li><button class="full-width-button" [routerLink]="'/client-info/history'">My bokings</button></li>
        <li><button class="full-width-button" [routerLink]="'/client-info/settings'">Settings</button></li>
      </ul>
    </nav>
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
