
<style>
  header.topnav {

  }

</style>
<div *ngIf="showMainContent">
<body>

<header class="topnav">
  <div class="logo-container" *ngIf="showMainContent">
    <img src="assets/logo.png" class="navbar-logo" />
  </div>
  <nav class="navbar">
    <button class="nav-button" id="autentificare-btn" [routerLink]="['/login']" (click)="openLoginDialog()">Login</button>
    <button class="nav-button" id="creare-cont-client-btn" (click)="openClientDialog()">Create client account</button>
    <button class="nav-button" id="creare-cont-mester-btn" (click)="openMesterDialog()">Create handyman account</button>
  </nav>
</header>


<div class="page-container" *ngIf="showMainContent">
  <div class="hero-section">
    </div>
</div>
  <div class="review-section" *ngIf="showMainContent">
    <div class="review-card1">
      <div class="review-header">
        <img src="assets/client_photo.jpg">
        <div class="review-text">
          <h2>Andrei</h2>
          <link rel="stylesheet">
          <style>.checked {
            color: orange;
          }
          </style>
          <h2>Star Rating</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p>Cei mai profesionisti electricieni! </p>
        </div>
      </div>
    </div>


    <div class="review-card2">
      <h2>Client Name</h2>
      <div class="star-ratings">

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>


    <div class="review-card3">
      <h2>Client Name</h2>
      <div class="star-ratings">

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>


    <div class="review-card4">
      <h2>Client Name</h2>
      <div class="star-ratings">

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="review-card5">
      <h2>Client Name</h2>
      <div class="star-ratings">

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="review-card6">
      <h2>Client Name</h2>
      <div class="star-ratings">

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

  </div>
</body>
</div>
<router-outlet></router-outlet>
