<style>
  header.topnav {

  }

</style>
<body>

<header class="topnav">
  <div class="logo-container">
    <img src="assets/logo.png" class="navbar-logo" />
  </div>
  <nav class="navbar">
    <button class="nav-button" id="autentificare-btn" [routerLink]="['/login']" (click)="openLoginDialog()">Login</button>
    <button class="nav-button" id="creare-cont-client-btn" (click)="openClientDialog()">Create login account</button>
    <button class="nav-button" id="creare-cont-mester-btn" (click)="openMesterDialog()">Create handyman account</button>
  </nav>
</header>


<div class="page-container">
  <div class="hero-section">
    </div>
</div>

</body>




  <div class="review-section">
    <div class="review-card1">
      <div class="review-header">
        <img src="assets/client_photo.jpg">
        <div class="review-text">
          <h2>Andrei</h2>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <style>.checked {
            color: orange;
          }
          </style>
          <h2>Star Rating</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p>Cei mai profesionisti electricieni! </p>
        </div>
      </div>
    </div>


    <div class="review-card2">
      <h2>Client Name</h2>
      <div class="star-ratings">

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>


    <div class="review-card3">
      <h2>Client Name</h2>
      <div class="star-ratings">

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>


    <div class="review-card4">
      <h2>Client Name</h2>
      <div class="star-ratings">

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="review-card5">
      <h2>Client Name</h2>
      <div class="star-ratings">

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="review-card6">
      <h2>Client Name</h2>
      <div class="star-ratings">

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

  </div>

